<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Страница редактирования книги</title>
</head>
<body>

<h1>Страница редактирования книги</h1>

<form th:method="PATCH"
      th:action="@{/books/{id}(id=${book.getId()})}"
      th:object="${book}">

  <label for="title">Введите название книги:</label>
  <input type="text" th:field="*{title}" id="title">
  <div style="color: red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">ERROR MESSAGE</div>
  <br>

  <label for="author">Введите автора:</label>
  <input type="text" th:field="*{author}" id="author">
  <div style="color: red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">ERROR MESSAGE</div>
  <br>

  <label for="publishedAt">Введите год:</label>
  <input type="text" th:field="*{publishedAt}" id="publishedAt">
  <div style="color: red" th:if="${#fields.hasErrors('publishedAt')}" th:errors="*{publishedAt}">ERROR MESSAGE</div>
  <br>

  <input type="submit" value="Редактировать!">
</form>

</body>
</html>